#main-cont{

display: flex;
width: 100%;

}

.link-tags{
    text-decoration: none;
    color: white;
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: 'center' 
}